# useful for jacoco reports, as it ignores @Generated annotated methods
lombok.addLombokGeneratedAnnotation = true

# useful for jacoco reports, as it by default considers "@NonNull myAttribute" as an increase
# of the cyclomatic complexity (from "myAttribute" to "Objects.requireNonNull(myAttribute)")
lombok.nonNull.exceptionType=JDK

# useful to deprecate the need for boilerplate constructor-args that include annotations such as @Property
# https://dev.to/composite/are-you-using-lombok-your-classes-don-t-need-constructor-with-annotation-5480
lombok.copyableAnnotations += io.micronaut.context.annotation.Property
lombok.copyableAnnotations += io.micronaut.context.annotation.Value
lombok.copyableAnnotations += jakarta.inject.Named
